.contact {
    align-content: center;
}
.form {
    margin: 20px;
    color:'white';
}
  
.form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}